body{
    background-color: #0e0b16;
}
.topnav{
    /* background-color: #181324; */
    background-color:#181326;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 175px;
    right: 0;
    height: 55px;
    /* margin-left: 60px; */
}

#navbtn {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 19px;
}

#navbtn:hover {
    /* background-color: #e7dfdd; */
    background-color: #f4c518;
    color: black;
}

#menubtn{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 19px;
}

#menubtn:hover{
    background-color: #f4c518;
    color: black;
}

#search-bar input{
    outline: none;
    float: left;
    margin-left: 20px;
    margin-top: 12px;
    height: 30px;
    width: 650px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

#search-icon{
    position: absolute;
    margin-top: 11px;
    margin-left: 1px;
    /* height: 30px; */
    font-size: larger;
    color: #ddd;
    background:#181326;
    border: none;
}


/* checkboxes hopefully */
.sidenav{
    height: 100%;
    width: 12%;
    background-color: #181326;
    left: 0;
    top: 0;
    position: fixed;
}

.filters{
    margin-top: 40px;
}

.filters input[type=checkbox]{
    /* float: left; */
    margin-left: 20px;

}

.filters label{
    color: #ddd;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.filters b{
    color: #f4c518;
    margin-left: 0;
    margin-right: 0;
    font-size: 17px;
    font-family: Arial, Helvetica;
    /* font-weight: 00; */
    margin-left: 18px;
}

.btn1{
    border: none;
    background-color: #0e0b16;
    color: #ddd;
    padding: 9px 15px;
    margin-left: 10px;
    margin-top: 30px;
    position:absolute;
    font-size: 15px;
}
.btn2{
    border: none;
    background-color: #0e0b16;
    color: #ddd;
    position: relative;
    padding: 9px 15px;
    margin-left: 90px;
    margin-top: 30px;
    font-size: 15px;
}

.filters a button:hover{
    background-color: #ddd;
    color: #0e0b16;
}

#logo{
    height: 70px;
    margin-left: 18px;
    margin-top: 12px;
}

.movie-card img{
    height: 330px;
    /* width: 220px; */
    /* width: 100%; */
}

#category-title{
    margin-left: 250px;
    margin-top: 50px;
    color: #ddd;
    font-family: Arial, Helvetica;
    font-weight: 600;
    font-size: 33px;
    border-left: 5px solid #f4c518;
    padding-left: 15px;
}

#movies-grid{
    /* margin-left: 250px; */
    margin-left: 17%;
    /* margin-right: 75px; */
    margin-top: 30px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-auto-flow: row;
    grid-gap: 20px;
    color: #ddd
}

.movie-card{
    background: #1813265c;
    border-radius: 5px;
}
.movie-card:hover{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5); */
    box-shadow: 0 4px 8px 0 rgba(30, 30, 53, 0.8), 0 6px 20px 0 rgba(30, 30, 53, 0.8);
}

.movie-card h2{
    padding: 1px 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
}

.movie-card p{
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8c8c8c;
}






/* https://www.w3schools.com/howto/howto_css_button_on_image.asp */
